# Site settings
title: Paolo Magalini
email: your-email@example.com
description: >-
  A work in progress Jekyll site for Paolo Magalini
baseurl: ""
url: "https://paolomagalini.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
